<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Request CRUD test</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

        <!--Select2-->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

    </head>
    <body>
        <!--start container-->
        <div class = "container" style="padding:50px">
            <h1 style="text-align: center;">Belajar Spring Boot CRUD</h1>
        </div>
        <!--end start container-->

        <!--Main Container-->
        <div class="container">

            <!-- Button Modal Insert -->
            <div align = "right" style = "padding-bottom: 15px">
                <button type="button" onclick="hapusText()" class="btn btn-primary" data-toggle="modal" data-target="#modalSave">
                    Insert new Data
                </button>
            </div>
            <!--end button modal insert-->

            <!--main table-->
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="1">
                <thead>
                    <tr>
                        <th style="text-align: center">Id</th>
                        <th style="text-align: center">Quantity</th>
                        <th style="text-align: center">Start Date</th>
                        <th style="text-align: center">End Date</th>
                        <th style="text-align: center">Note</th>
                        <th style="text-align: center">User Site</th>
                        <th style="text-align: center">Skill</th>
                        <th style="text-align: center">Action</th>
                    </tr>
                <tbody>

                    <tr th:each="as :${requests}">
                        <td th:text="${as.id}"></td>
                        <td th:text="${as.quantity}"></td>
                        <td th:text="${as.startDate}"></td>
                        <td th:text="${as.endDate}"></td>
                        <td th:text="${as.note}"></td>
                        <td th:text="${as.userSite.name}"></td>
                        <td th:text="${as.skill.name}"></td>
                        <td>
                            <button class="btn btn-info btn-sm">
                                <a th:href="@{updatestatus/{id}(id=${as.id})}">Interview </a>
                            </button>
                            <br/>
                            <button th:id="@{delete/{id}(id=${as.id})}" class="btn btn-danger btn-sm" onclick="akanHapus(this.id)">
                                Cancel
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
            <!--end main table-->

        </div>
        <!--end main container-->

        <!-- Modal Insert-->
        <div class="modal fade" id="modalSave" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Save data</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>


                    <!--Modal Body-->
                    <div class="modal-body">
                        <!--Insert-->
                        <form th:action="@{/save}" th:object="${request}" method="POST" id="form1">
                            <div align="center" class="form-group">
                                <table class="container" style="border-collapse: separate;">
                                    <th></th>
                                    <th></th>
                                    <tr>
                                        <td>User Site :</td>
                                        <td>
                                            <select name="userSite" class="form-control">
                                                <option th:each="us : ${userSites}" th:value="${us.id}" th:text="${us.name}" th:field="*{userSite}"></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Quantity :</td>
                                        <td><input name="quantity" type="text" id="textQuantity" class ="form-control" th:field="*{quantity}"></td>
                                    </tr>
                                    <tr>
                                        <td>Star Date :</td>
                                        <td><input name="startDate" type="date" id="textStartDate" class ="form-control" th:field="*{startDate}"></td>
                                    </tr>
                                    <tr>
                                        <td>End Date :</td>
                                        <td><input name="endDate" type="date" id="textEndDate" class ="form-control" th:field="*{endDate}"></td>
                                    </tr>

                                    <tr>
                                        <td>Note :</td>
                                        <td><input name="note" type="text" id="textNote" class ="form-control" th:field="*{note}"></td>
                                    </tr>
                                    <tr>
                                        <td>Skill :</td>
                                        <td> 
                                            <select name="skill" class="form-control">
                                                <option th:each="sk : ${skills}" th:value="${sk.id}" th:text="${sk.name}" th:field="*{skill}"></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Vehicle :</td>
                                        <td> 
                                            <select class="js-example-basic-multiple form-control" name="states[]" multiple="multiple">
                                                <option value="MTR">Motor</option>
                                                <option value="MBL">Mobil</option>
                                                <option value="SPD">Sepedah</option>
                                                <option value="BMO">Bemo</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </form>        
                    </div>
                    <!--end Modal Body-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button onclick="updateSwal()" type="submit" form="form1" value="Submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end Modal Insert-->

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <!--Datatables-->
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
        <script>
                            $(document).ready(function () {
                                $('#dataTable').DataTable();
                            }
                            );
        </script>

        <!--Sweet Alert-->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

        <!--Select2-->
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
        <script>
                            $(document).ready(function () {
                                $('.js-example-basic-multiple').select2();
                            });
        </script>


        <!--function akun hapus sweetalert -->
        <script>
            function akanHapus(hapus) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        setTimeout(function () {
                            document.location.href = hapus;
                        }, 1000);
                        Swal.fire({
                            icon: 'success',
                            title: 'Your work has been deleted',
                            showConfirmButton: false,
                        })
                    }
                })
            }
        </script>
        <!--end function akun hapus sweetalert-->

        <!--function sweet alert save new-->
        <script>
            function updateSwal() {
                Swal.fire({
                    icon: 'success',
                    title: 'Your work has been saved',
                    showConfirmButton: false,
                });
                setTimeout(updateSwal, 1000);
            }
        </script>
        <!--end function sweet alert save new-->

        <!--data tables numbering-->
    </body>
</html>
